# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
.tox
coverage/
/profiling/
combined_profile.prof

.cache

*.log

# Virtualenvs
env
env*
venv

# intellij
.idea/
*.ipr
*.iml
*.iws

# VS Code
.vscode

.DS_Store

## OS X
._*
.Spotlight-V100
.Trashes

# Added to prevent committing coverage reports.
htmlcov/

.mypy_cache

# Ignore compiled translation files
*.mo

.vim/
/scripts/__pycache__/
