[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coloredlogs = "*"

[packages]
eq-translations = {editable = true,git = "https://github.com/ONSDigital/eq-translations.git",ref = "v4.1.0"}

[requires]
python_version = "3.8"
