[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coloredlogs = "*"
black = "==20.8b1"
isort = "*"

[packages]
eq-translations = {editable = true, git = "https://github.com/ONSDigital/eq-translations.git", ref = "v4.3.0"}
jsonpointer = "*"
jsonpath-rw = "*"

[requires]
python_version = "3.8"
